<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <button @click="addData">点击增加对象数据</button>
        <h3>往对象里增加方法</h3>
        <ul>
            <li v-for="(val, key,index) in obj" :key="index">
                值:{{val}}-----key:{{key}}------索引:{{index}}
            </li>
        </ul>



        <hr>
        <button @click="addData2">点击增加数组数据</button>
        <h3>往数组里增加方法</h3>
        <ul>
            <li v-for="(item,index) in list" :key="index">
              <p>{{item}}</p>
            </li>
        </ul>



    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                obj:{
                    title:"hello world",
                    name:"zs",
                    age:17,
                    sex:"男"
                },
                list:[1,2,3,4]
            },
            methods: {
                addData(){
                    Vue.set(this.obj,"hobby"+Math.random(),'唱歌')
                },
                addData2(){
                    Vue.set(this.list,0,Math.random())
                }
            },
        })
    </script>
</body>
</html>